QLabel#telemetry-key {
  font-size: 20pt;
  max-width: 7.5em;
  max-height: 2em;
  padding: 0px;
  color: white;
}

QLabel#telemetry-value {
  font-size: 20pt;
  max-width: 10em;
  max-height: 2em;
  padding: 0px;
  color: white;
}
QLabel#ESC-Key{
  font-size: 20pt;
  max-width: 7.5em;
  max-height: 2em;
  padding: 0px;
  color: white;
}

QLabel#ESC-Value{
  font-size: 20pt;
  max-width: 10em;
  max-height: 2em;
  padding: 0px;
  color: white;
}

QMainWindow{
  background-color: #2E2E2E;
}