@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  /* line-height: 1.5; */
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  @apply bg-falcongrey-800 text-neutral-50 h-full max-h-full min-h-screen;
}

:root[data-mantine-color-scheme="dark"] {
  --mantine-color-body: #1c2021 !important; /* Falcon grey default */
}

html,
body {
  height: 100%;
  margin: 0;
}

#root {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.allow-drag {
  -webkit-app-region: drag;
}

.no-drag {
  -webkit-app-region: no-drag;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1C2021;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #727C7E;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #535D5F;
}
