name: JS Lint

permissions:
  contents: read

on:
  push:
    branches:
      - main
      - release-*
    paths:
      - gcs/**
  pull_request:
    branches:
      - main
      - release-*
    paths:
      - gcs/**

jobs:
  run-linters:
    name: Run linters
    runs-on: ubuntu-latest

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v1
        with:
          node-version: 20

      - run: yarn
        working-directory: gcs

      - name: Check code formatting
        run: yarn prettier
        working-directory: gcs

      - name: Check code linting
        run: yarn lint
        working-directory: gcs
