name: Python Code Quality

permissions:
  contents: read

on:
  push:
    branches:
      - main
      - release-*
    paths:
      - radio/**
  pull_request:
    branches:
      - main
      - release-*
    paths:
      - radio/**

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-python@v2
        with:
          python-version: '3.11'

      - run: pip install --upgrade pip
      - run: pip install ruff mypy

      - name: Run ruff
        working-directory: ./radio
        run: ruff check .

      - name: Run mypy
        working-directory: ./radio
        run: mypy .
